.header {
  background: #1e1e1e;
  color: white;
  padding: 15px 20px;

  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  color: white;
  font-size: 14px;
}

.search {
  display: flex;
  gap: 5px;
}

.input {
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #444;
  outline: none;
  transition: all 0.25s ease;
}
.input:focus {
  box-shadow: 0 0 8px rgba(255, 208, 0, 0.846);
}

.button {
  padding: 6px 10px;
  background: #444;
  color: white;
  border: 1px solid #959595;
  border-radius: 4px;
  transition: all 0.25s ease;
}
.button:hover {
  box-shadow: 0 0 8px rgba(0, 141, 249, 0.75);
  transform: translateX(1px);
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  color: #000;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 150px;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
}
.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdownItem {
  color: #000;
  font-size: 14px;
  border-radius: 3px;
  padding: 2px;
  transition: all 0.2s ease;
}

.dropdownItem:hover {
  background: #006a8284;
}

.burger {
  display: none;
  font-size: 22px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background: #222;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  transition: left 0.3s ease;
  z-index: 1000;
  transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar a {
  color: white;
  padding: 6px 0;
  transition: color 0.2s ease;
}
.sidebar a:hover {
  color: #ddd;
}

.open {
  left: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.close {
  align-self: flex-end;
  font-size: 20px;
  color: #fff;
}


.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 10px 0;
}

.sectionTitle {
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 5px;
}


.activeLink {
  border-bottom: 2px solid rgb(0, 102, 153);
}

.activeSidebarLink {
  font-weight: 600;
  color: #fff;
  border-bottom: 2px solid rgb(0, 130, 130);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }


  .search {
    width: 100%;
    margin-top: 10px;
  }

  .input {
    flex: 1;
    width: 100%;
  }
}
