
/* RESET */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
button, input {
    cursor: pointer;
    background-color: inherit;
}
/* RESET */

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1;
	max-width: 1200px;
	/* width: 100%; */
	margin: 0 auto;
	padding: 20px;
}